.schere-button {
    -fx-background-image: url('img/Schere.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.stein-button {
    -fx-background-image: url('img/Stein.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.papier-button {
    -fx-background-image: url('img/Papier.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.AnchorPane {
    -fx-background-color: white;
}

.reset-button {
    -fx-text-fill: white;
    -fx-background-color: DodgerBlue;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.title-text {
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-font-family: Lucida Console;
}

.gesture-Text {
    -fx-font-size: 18px;
}