.schere-button, .stein-button, .papier-button, .brunnen-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-pref-width: 150px;
    -fx-pref-height: 150px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.35), 20, 0.2, 0, 4);
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.schere-button:hover, .stein-button:hover, .papier-button:hover, .brunnen-button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}


.schere-button {
    -fx-background-image: url('img/Schere.png');
}

.stein-button {
    -fx-background-image: url('img/Stein.png');
}

.papier-button {
    -fx-background-image: url('img/Papier.png');
}

.brunnen-button {
    -fx-background-image: url('img/Brunnen.png');

}

.AnchorPane {
    -fx-background-color: white;
}

.reset-button {
    -fx-text-fill: white;
    -fx-background-color: DodgerBlue;
    -fx-font-weight: bold;
    -fx-font-size: 26px;
}

.title-text {
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-font-family: Lucida Console;
}

.gesture-Text {
    -fx-font-size: 18px;
}

.gesture-Icons {
    -fx-background-color-alignment: center;
}

.progressBar > .track {
    -fx-background-color: rgba(0,0,0,0.1);
    -fx-background-radius: 12px;
}

.progressBar > .bar {
    -fx-background-color: linear-gradient(to right, #42a5f5, #1e88e5);
    -fx-background-radius: 12px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0.2, 0, 2);
}




