.schere-button {
    -fx-background-image: url('img/Schere.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
}

.stein-button {
    -fx-background-image: url('img/Stein.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
}

.papier-button {
    -fx-background-image: url('img/Papier.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
}