.schere-button, .stein-button, .papier-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-pref-width: 150px;
    -fx-pref-height: 150px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.35), 20, 0.2, 0, 4);
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.schere-button:hover, .stein-button:hover, .papier-button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}


.schere-button {
    -fx-background-image: url('img/Schere.png');
}

.stein-button {
    -fx-background-image: url('img/Stein.png');
}

.papier-button {
    -fx-background-image: url('img/Papier.png');
}

.AnchorPane {
    -fx-background-color: white;
}

.reset-button {
    -fx-text-fill: white;
    -fx-background-color: DodgerBlue;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.title-text {
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-font-family: Lucida Console;
}

.gesture-Text {
    -fx-font-size: 18px;
}