/* ============================================================
   Allgemeines Layout & Hintergrund
   ============================================================ */

.AnchorPane {
    -fx-background-color: beige;
}





/* ============================================================
   Spiel-Buttons (Schere, Stein, Papier, Brunnen)
   ============================================================ */

.schere-button, .stein-button, .papier-button, .brunnen-button {
    -fx-background-color: floralwhite;
    -fx-background-radius: 12px;
    -fx-border-color: burlywood;
    -fx-border-radius: 12px;
    -fx-border-width: 2px;
    -fx-pref-width: 130px;
    -fx-pref-height: 130px;
    -fx-background-size: 55%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-effect: dropshadow(three-pass-box, burlywood, 0, 0, 4, 4);
}

.schere-button:hover, .stein-button:hover, .papier-button:hover, .brunnen-button:hover {
    -fx-background-color: white;
    -fx-translate-x: -2;
    -fx-translate-y: -2;
    -fx-effect: dropshadow(three-pass-box, burlywood, 0, 0, 6, 6);
    -fx-cursor: hand;
}

.schere-button {
    -fx-background-image: url('img/Schere.png');
}

.stein-button {
    -fx-background-image: url('img/Stein.png');
}

.papier-button {
    -fx-background-image: url('img/Papier.png');
}

.brunnen-button {
    -fx-background-image: url('img/Brunnen.png');
}





/* ============================================================
   UI-Steuerelemente (Reset, Volume, Progress)
   ============================================================ */

.reset-button {
    -fx-background-color: yellowgreen;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-padding: 10px 30px;
    -fx-effect: dropshadow(three-pass-box, darkolivegreen, 0, 0, 3, 3);
}

.reset-button:hover {
    -fx-background-color: yellowgreen;
    -fx-background-x: -1;
    -fx-background-y: -1;
    -fx-effect: dropshadow(three-pass-box, darkolivegreen, 0, 0, 5, 5);
    -fx-cursor: hand;
}

.reset-button:pressed {
    -fx-translate-x: 2;
    -fx-translate-y: 2;
    -fx-effect: dropshadow(three-pass-box, darkolivegreen, 0, 0, 1, 1);
}

.Volume-Bar {
    -fx-background-color: linen;
    -fx-background-radius: 15px;
    -fx-border-color: tan;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
}

.Volume-Bar .track {
    -fx-background-color: wheat;
    -fx-background-radius: 8px;
    -fx-background-insets: 0 10 0 10;
}

.Volume-Bar .thumb {
    -fx-background-color: chocolate;
    -fx-background-radius: 50%;
    -fx-background-insets: 0 5 0 5;
    -fx-border-color: linen;
    -fx-border-width: 2px;
    -fx-border-radius: 50%;
}

.VolumeIcon {
    -fx-background-image: url('img/Volume.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;

}

.progressBar > .track {
    -fx-background-color: wheat;
    -fx-background-radius: 8px;
    -fx-border-color: tan;
    -fx-border-radius: 8px;
    -fx-border-width: 1px;
}

.progressBar > .bar {
    -fx-background-color: chocolate;
    -fx-background-radius: 6px;
}





/* ============================================================
   Texte
   ============================================================ */

.title-text {
    -fx-fill: saddlebrown;
    -fx-font-size: 46px;
    -fx-font-weight: bold;
    -fx-font-family: Georgia;
}

.globalHigh, .currentHigh {
    -fx-fill: chocolate;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-font-family: Georgia;
}

.currentHighScore, .currentRunScore {
    -fx-fill: olive;
    -fx-font-size: 23px;
    -fx-font-weight: bold;
    -fx-font-family: Georgia;
}

.winText {
    -fx-fill: olivedrab;
    -fx-font-weight: bold;
}

.gesture-Text {
    -fx-font-size: 18px;
}

.gesture-Icons {
    -fx-background-color-alignment: center;
}