.schere-button, .stein-button, .papier-button, .brunnen-button {
    -fx-background-color: floralwhite;
    -fx-background-radius: 12px;
    -fx-border-color: burlywood;
    -fx-border-radius: 12px;
    -fx-border-width: 2px;
    -fx-pref-width: 130px;
    -fx-pref-height: 130px;
    -fx-background-size: 55%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-effect: dropshadow(three-pass-box, burlywood, 0, 0, 4, 4);
}

.schere-button:hover, .stein-button:hover, .papier-button:hover, .brunnen-button:hover {
    -fx-background-color: white;
    -fx-translate-x: -2;
    -fx-translate-y: -2;
    -fx-effect: dropshadow(three-pass-box, burlywood, 0, 0, 6, 6);
    -fx-cursor: hand;
}


.schere-button {
    -fx-background-image: url('img/Schere.png');
}

.stein-button {
    -fx-background-image: url('img/Stein.png');
}

.papier-button {
    -fx-background-image: url('img/Papier.png');
}

.brunnen-button {
    -fx-background-image: url('img/Brunnen.png');

}

.AnchorPane {
    -fx-background-color: beige;
}

.reset-button {
    -fx-text-fill: white;
    -fx-background-color: DodgerBlue;
    -fx-font-weight: bold;
    -fx-font-size: 26px;
}

.title-text {
    -fx-fill: saddlebrown;
    -fx-font-size: 46px;
    -fx-font-weight: bold;
    -fx-font-family: Georgia;
}

.gesture-Text {
    -fx-font-size: 18px;
}

.gesture-Icons {
    -fx-background-color-alignment: center;
}

.progressBar > .track {
    -fx-background-color: rgba(0,0,0,0.1);
    -fx-background-radius: 12px;
}

.progressBar > .bar {
    -fx-background-color: linear-gradient(to right, #42a5f5, #1e88e5);
    -fx-background-radius: 12px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0.2, 0, 2);
}

.Volume-Bar {
    -fx-background-color: transparent;
}

.Volume-Bar .track {
    -fx-background-color: #e0e0e0;
    -fx-background-radius: 5px;
    -fx-background-insets: 0 12 0 12;
}

.Volume-Bar .thumb {
    -fx-background-color: #3b82f6;
    -fx-background-radius: 10px;
    -fx-background-insets: 0 6 0 6;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 3, 0, 0, 1);
}
